<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>

<style>
  /* About page panel-info styles (self-contained). */
  #tcamt-about-page .about-iz-panel {
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #bce8f1;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  #tcamt-about-page .about-iz-panel-heading {
    padding: 10px 15px;
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 1px solid #bce8f1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #tcamt-about-page .about-iz-panel-body {
    padding: 15px;
    overflow: visible;
    background-color: #fff;
    color: #333;
  }
  #tcamt-about-page .about-iz-panel-body p {
    text-align: left;
    margin: 0 0 12px;
  }
  #tcamt-about-page .about-iz-panel-body p:last-child {
    margin-bottom: 0;
  }
</style>

<div ng-controller="AboutCtrl" id="tcamt-about-page" style="margin:10px; margin-top:20px">

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Tool Information</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">As of August 2026, the National Institute of Standards and Technology (NIST), is no longer
                        funding the project, and ongoing support for the tools is funded by the Centers for Disease
                        Control and Prevention (CDC), a component of the U.S. Department of Health and Human Services
                        (HHS). The former &ldquo;NIST Tools&rdquo; have been rebranded as the Standards &amp;
                        Interoperability Testing Tools (SITT). Prometheus Computing LLC has been contracted by the
                        CDC to maintain, update, and host the HL7 v2 Test Case Authoring and Management Tool (TCAMT).</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Funding Sources</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">TCAMT is supported by the CDC through American Immunization Registry Association (AIRA) as
                        part of a cooperative agreement award. AIRA and the CDC funding is under award number
                        NU38OT000291 under CDC-RFA-OT18-1802, Strengthening Public Health Systems and Services
                        Through National Partnerships to Improve and Protect the Nation&rsquo;s Health. The content
                        is solely the responsibility of the authors and does not necessarily represent the official
                        views of AIRA or the CDC.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Disclaimer</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">This software was originally developed by employees and contractors of NIST an agency of the
                        United States Federal Government. The project is currently supported and funded by the CDC and
                        with ongoing maintenance and development work performed by Prometheus Computing, LLC under
                        contract through AIRA. It is made available as a public service.</p>
                    <p style="text-align: left;">Pursuant to Title 17, United States Code, Section 105, works created by NIST employees
                        within the scope of their employment are not subject to copyright protection in the United
                        States and reside in the public domain. Works created by contractors may be subject to
                        contractual copyright assignments or licenses to the U.S. Government. This software may also
                        be subject to foreign copyright protection.</p>
                    <p style="text-align: left;">Permission in the United States and in foreign countries, to the extent that NIST, the CDC,
                        AIRA, Prometheus Computing, LLC, or the U.S. Government hold rights, to use, copy, modify,
                        create derivative works, and distribute this software and its documentation without fee is
                        hereby granted on a non-exclusive basis, provided that this notice and disclaimer of warranty
                        appear in all copies.</p>
                    <p style="text-align: left;">Links to non-Federal Government websites do not imply endorsement of any product, service,
                        organization, company, information provider, or content.</p>
                    <p style="text-align: left;">NIST, CDC, AIRA, and Prometheus Computing, LLC appreciate acknowledgment if the software is
                        used. This software can be redistributed and modified freely; however, it is requested that
                        any derivative works or modified versions clearly indicate that they have been derived from
                        or modified from the original software.</p>
                    <p style="text-align: left;">THE SOFTWARE IS PROVIDED &ldquo;AS IS&rdquo; WITHOUT ANY WARRANTY OF ANY KIND, EITHER
                        EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY THAT THE
                        SOFTWARE WILL CONFORM TO SPECIFICATIONS, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
                        FOR A PARTICULAR PURPOSE, AND FREEDOM FROM INFRINGEMENT, AND ANY WARRANTY THAT THE
                        DOCUMENTATION WILL CONFORM TO THE SOFTWARE, OR ANY WARRANTY THAT THE SOFTWARE WILL BE
                        ERROR-FREE. IN NO EVENT SHALL NIST, CDC, AIRA, OR PROMETHEUS COMPUTING, LLC BE LIABLE FOR
                        ANY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, SPECIAL, OR CONSEQUENTIAL
                        DAMAGES, ARISING OUT OF, RESULTING FROM, OR IN ANY WAY CONNECTED WITH THIS SOFTWARE,
                        WHETHER OR NOT BASED UPON WARRANTY, CONTRACT, TORT, OR OTHERWISE, WHETHER OR NOT INJURY WAS
                        SUSTAINED BY PERSONS OR PROPERTY OR OTHERWISE, AND WHETHER OR NOT LOSS WAS SUSTAINED FROM, OR
                        AROSE OUT OF THE RESULTS OF, OR USE OF, THE SOFTWARE OR SERVICES PROVIDED HEREUNDER.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">HIPAA Notice</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">In compliance with requirements under the Health Insurance Portability and Accountability Act
                        of 1996 (HIPAA), parties using TCAMT via this Prometheus Computing, LLC website shall not use
                        real data containing Protected Health Information (PHI) or individually identifiable health
                        information. Parties shall adhere to all applicable Federal Regulations.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">NIST Acknowledgement</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">TCAMT was originally developed by NIST.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Account Ownership and Organizational Content</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">Users and organizations retain ownership of the content, data, artifacts, workspaces,
                        implementation guides, profiles, value sets, constraints, documentation, examples, test
                        cases, uploaded files, metadata, and related materials they create, upload, maintain, or
                        provide through the tools. Prometheus Computing LLC, CDC, ONC, AIRA, NIST, and any
                        stakeholder responsible for, participating in, or having participated in sponsoring the
                        program under which the tools are funded do not obtain ownership of that content and may not
                        use it for any unrelated business, commercial, or organizational purpose outside the
                        operation, support, maintenance, migration, security, and administration of the tools.</p>
                    <p style="text-align: left;">Users and organizations are responsible for managing their own accounts, organization
                        accounts, shared accounts, service accounts, workspace memberships, sharing settings, access
                        permissions, and account information within the tools. When the tools provide
                        access-control, sharing, workspace, or permission features, users and organizations are
                        responsible for using those features to restrict access to their data and prevent
                        unauthorized access.</p>
                    <p style="text-align: left;">Content, artifacts, workspaces, implementation guides, profiles, value sets, constraints,
                        documentation, examples, test cases, uploaded files, metadata, and related materials remain
                        associated with the account, workspace, organization, or project under which they were
                        created, uploaded, assigned, maintained, or shared in the tool.</p>
                    <p style="text-align: left;">Content created, uploaded, maintained, or used by an individual in connection with work
                        funded, sponsored, directed, requested, or authorized by an organization may be treated as
                        organization-associated content, even if the individual used a personal email address or
                        personal account, when the organizational relationship can be reasonably demonstrated.</p>
                    <p style="text-align: left;">Participating in a project, workspace, tool account, or activity through a shared password,
                        shared credentials, shared account, or temporary access does not by itself create ownership
                        rights in the associated data, artifacts, or project content. Users and organizations are
                        responsible for resolving any internal ownership, employment, contractor, funding,
                        account-use, or sharing disputes between themselves.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Unclear Ownership and Preservation Requests</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">If ownership of a resource, artifact, account, workspace, implementation guide, profile,
                        test case, uploaded file, or related content is unclear, disputed, or not reasonably
                        identifiable from the tool records, Prometheus Computing LLC is not required to preserve,
                        transfer, restore, reassign, or maintain access to that resource unless a written request
                        is submitted to the tool administrator or applicable program sponsor with enough information
                        to identify the resource and the claimed ownership or access rights.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Prohibited, Unlawful, or Restricted Content</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">Users and organizations shall not upload, enter, share, store, or transmit any data,
                        content, artifact, file, material, or information through the tools if doing so is illegal,
                        prohibited, restricted, unauthorized, or not permitted under applicable federal, state,
                        local, contractual, organizational, program, privacy, security, or data-use requirements.</p>
                    <p style="text-align: left;">Users and organizations are responsible for ensuring that they have the necessary rights,
                        permissions, approvals, and authority to upload, enter, share, store, transmit, or use any
                        data or content within the tools. This includes ensuring that the data is not prohibited by
                        law, contract, policy, regulation, funding condition, data-use agreement, confidentiality
                        obligation, intellectual property restriction, security requirement, or other applicable
                        obligation.</p>
                    <p style="text-align: left;">Prometheus Computing LLC, CDC, ONC, AIRA, NIST, and any stakeholder responsible for,
                        participating in, or having participated in sponsoring the program under which the tools are
                        funded are not responsible for user-provided or organization-provided content that is
                        uploaded, entered, shared, stored, or transmitted in violation of applicable law,
                        regulation, policy, contract, privacy requirement, security requirement, data-use
                        restriction, or organizational rule.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Data Sensitivity, Privacy Requirements, and Public Health Purpose</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">Users and organizations are responsible for determining whether any data, artifact,
                        workspace, implementation guide, profile, test case, uploaded file, metadata, or related
                        content entered into the tools is sensitive, confidential, proprietary, regulated,
                        restricted, or subject to any privacy, security, contractual, organizational, or legal
                        requirement. If a resource has specific privacy, confidentiality, security, retention,
                        access, or handling requirements, the responsible user or organization must communicate those
                        requirements in writing to the tool administrator or applicable program sponsor with enough
                        information to identify the resource and the required handling.</p>
                    <p style="text-align: left;">Unless specific sensitivity, privacy, confidentiality, or handling requirements are
                        communicated in writing and acknowledged through an applicable support, administrative, or
                        program process, content entered into the tools is presumed to be non-sensitive and intended
                        to support interoperability, standards development, validation, testing, implementation
                        guidance, and public health collaboration. Users and organizations should not assume that
                        content entered into the tools is fully private, confidential, or subject to special
                        handling beyond the access controls and operational protections provided by the tools,
                        unless such requirements have been specifically communicated, reviewed, and approved.</p>
                    <p style="text-align: left;">Users and organizations should not upload, enter, share, or store sensitive, confidential,
                        proprietary, regulated, restricted, or legally protected information in the tools unless
                        they are authorized to do so, the tool is appropriate for that type of information, and any
                        required privacy or handling instructions have been communicated in writing to the tool
                        administrator or applicable program sponsor. Users and organizations are responsible for
                        notifying their own personnel, collaborators, contractors, project participants, and
                        workspace members of any privacy, confidentiality, access, or handling requirements that
                        apply to their data.</p>
                </div>
            </div>
            </div>

            <div style="margin-bottom: 20px">


              <div class="about-iz-panel">
                <div class="about-iz-panel-heading">Tool Administration and Operational Access</div>
                <div class="about-iz-panel-body">
                    <p style="text-align: left;">Tool administrators, authorized technical staff, database administrators, infrastructure
                        personnel, security personnel, and approved support personnel may access, inspect, copy, back
                        up, restore, modify, repair, transform, migrate, patch, delete, recover, review, audit, or
                        otherwise manage tool data, accounts, workspaces, artifacts, metadata, uploaded files,
                        databases, logs, configurations, permissions, and related system records whenever reasonably
                        necessary for tool operation, hosting, maintenance, security, troubleshooting, support,
                        service continuity, data integrity, audit, migration, or compliance with applicable
                        operational requirements.</p>
                    <p style="text-align: left;">Such access may include private, shared, organizational, and user-associated content where
                        necessary to perform authorized administrative, technical, database, infrastructure,
                        security, support, maintenance, continuity, or compliance functions.</p>
                    <p style="text-align: left;">Such access does not transfer ownership of user-provided or organization-provided content to
                        Prometheus Computing LLC, CDC, ONC, AIRA, NIST, or any stakeholder responsible for,
                        participating in, or having participated in sponsoring the program under which the tools are
                        funded.</p>
                </div>
            </div>
            </div>

</div>
