<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>

<div class="">
    <div class="row container">
        <div class="col-md-12">
        <!--<div class="panel panel-info">-->
            <!--<div class="panel-heading"></div>-->
            <!--<div class="panel-body">-->
                <p style ="margin-top:20px;">Please report issues and feature requests to the Standards &amp; Interoperability Testing Tools (SITT) team by email at <a href="mailto:contact@valitheus.com">contact@valitheus.com</a>.
                </p>
                <p> Describe what you did, what you expected and what happened instead, and say whether the priority is <i>urgent, medium or low</i>. The maintainers reserve the right to change the priority of an issue/feature based on the current or next backlogs and other factors</p>
                </p>
            <!--</div>-->
        </div>

        <!--</div>-->
    </div>
</div>